[user]
	email = clement.patout@gmail.com
	name = Clément Patout
[pull]
	rebase = true
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[push]
	default = current
[gpg]
	program = gpg
[commit]
	gpgsign = true
